.container{
    height: 100%;
}

.body{
    background: url(../../assets/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.background-overlay{
    
    background: rgba(53, 54, 56, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
