.fondo{
    background: url(../../assets/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.filtro{
    background: rgba(53, 54, 56, 0.7);
}