<div class="bg-dark navbar-fixed-bottom py-3">
    <div class="container">
        <div class="text-center" id="pie">
            <a class="ml-4" href="#">Home<span class="sr-only">(current)</span></a>
            <a class="ml-4" href="#">Team</a>
            <a class="ml-4" href="#">Fixture</a>
            <a class="ml-4" href="#">About</a>
            <br><br>
            <p class="display-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consectetur repellat debitis. Delectus quis architecto sapiente? Facere dolorem porro dolores! Reiciendis nostrum adipisci architecto eligendi praesentium vitae tenetur, incidunt error.</p>
            <i class="far fa-envelope"></i>
            <a class="btn btn-default mb-1 text-danger">info@abm-company.com</a>
            <i class="fas fa-phone-square ml-5"></i>
            <a class="btn btn-default mb-1 text-white">(508) 746-0033</a>
            <i class="far fa-address-book ml-5"></i>
            <a class="btn btn-default mb-1">1355 Silent Circle, Tin Shack, Florida, 34254-3765, US</a>
        </div>
        <hr>
        <p class="text-center text-light">ABM Software Corporations &copy; 2019 - 2020</p> 
    </div>
</div>