<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="display-5 mb-3">Objetivos</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quia ipsa accusamus inventore quo commodi odit. Fugit tempore corporis nulla a voluptates, iste similique dolores deleniti, reprehenderit, est tenetur laboriosam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptate asperiores, officia quas ex iusto dicta velit unde, nemo vel neque at dignissimos. Illum sit libero et repudiandae voluptate vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nemo vero ad, ea quis consequuntur nam optio dolores consectetur facilis similique, aut debitis beatae fugiat incidunt velit facere libero vel!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident esse quo nostrum aut deserunt velit aperiam itaque impedit dolor architecto quas iste ea necessitatibus ad odit pariatur, repudiandae perspiciatis illum!
            </p>
            <hr>
            <button class="btn btn-info float-right" routerLink="/inicio">&laquo; Volver</button>
            <br>
        </div>
    </div>
</div>