<header class="header img-fluid d-sm-block">
    <div class="background-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center justify-content-center align-self-center text-white my-5">
                    <h1 class="display-1 mt-5">abm software</h1>
                    <div class="container">
                        <div class="row justify-content-center mb-5">
                            <div class="col-9">
                                <p>
                                Implemente soluciones ABM Software y elija calidad seguridad para sus datos y opciones personalizables, no todos los servidores de persistencia se igualan, pruebelo ud mismo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</header>