<header class="fondo">
    <div class="filtro">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center justify-content-center align-self-center text-white my-5">
                    <h1 class="display-2 mt-5 font-weight-bold">abm soft</h1>
                    <div class="container">
                        <div class="row justify-content-center mb-5">
                            <div class="col-7">
                                <p>
                                Implemente soluciones ABM y elija calidad, seguridad y opciones personalizadas para sus datos, no se iguala a otras apps, pruebelo ud mismo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</header>